.backvideo{
 position: relative;
} 
.backvideo video{
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-position: absolute;
    object-fit: cover;
   
}
.header{
  position: absolute;
  margin-top: -800px;
  
  z-index: 2;
  color: white;
  width: 100%;
  
}
.paragraph1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1;
    margin-top: -750px;
    margin-left: 50px;
    color:white;
}
.paragraph1 P{
    margin-top: 150px;
}
.paragraph1 pre{
    font-size: 20px;
    margin-left: -105px;
    margin-top: -20px;
}
.paragraph1 h1{
    font-size: 50px;
}
.paragraph1 h2{
    font-size: 40px;
    margin-top: -45px;
}
.button{
    background-color: white;
    border: 1px solid white;
    border-width: 10px;
    color: black;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    margin-top: -30px;
    z-index: 1;
}
.fa{
    width: 50px;
    color: white;
   margin-top: 90px;  
}
 .flex-container{
   display:inline-block;
 }
 .one{
   float: left;
 }
 .two{
   float: right;
 }
 




